
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="header">
                <h1>My Favorites</h1>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">
                
            </div>
    </div>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src= "/js/recipes.js"></script>