


    <div class="jumbotron jumbotron-fluid"> 
        <div class="header">
            <h1>My Favorites</h1>
        </div>
    </div>
    <div class="rowOne">
        <div class="column">
            <div class="card"><button class="recipe">favorite</button></div>
        </div>
        <div class="column">
            <div class="card">..</div>
        </div>
        <div class="column">
            <div class="card">..</div>
        </div>
        <div class="column">
            <div class="card">..</div>
        </div>
    </div>


