<div id="signup-top">
  <h1>What's in my pantry?</h1>
</div>

  <div class="container">

    <br>

    <!-- Jumbotron -->
    <div class="container">
      <h3 class="text-left">Sign Up</h1>
    </div>

    <div class="row">
      <div class="col-lg-6">

            <!-- Sign-up Form -->
            <form role="form">
                <label for="name-input">Name:</label>
                <input class="form-control" id="name-input" type="text">
                <br>
                <label for="email-input">Email:</label>
                <input class="form-control" id="email-input" type="email">
                <br>
                <label for="age-input">Password:</label>
                <input class="form-control" id="age-input" type="number">
                <br>
                <label for="comment-input">How did you hear about us?</label>
                <textarea class="form-control" id="comment-input" rows="5"></textarea>
                <br>
              <button class="btn btn-default" id="signup-submit" type="submit">SUBMIT</button>
            </form>

        </div>
      </div>
