body {
  background-color: #4ABDAC;
}
.jumbotron {
    background-image: url(../images/soup.jpg); 
    margin-bottom: 0; 
}

.header {
  padding: 10%; 
}

h1, h2 {
    font-family: 'Mansalva', cursive;
    color: #F7C331; 
    text-align: center;
    font-size: 45px; 
}

p, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
}
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding-left: 5px;
    background-color: #4ABDAC; 
    
  }
  .row {
      background-color: #4ABDAC; 
      padding: 20px; 
  }
     
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the recipe cards. */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
  }
  .savedRecipes {
    background-color: #F7C331;
  }

  
  
  #signup-submit,
  #login-submit {
    background-color:#F7C331;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold; 
  }

  
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  #signup-top {
    background-color: #FC4A1A;
    padding: 5%; 
    margin-bottom: 10px; 
  }

  #signup-redirect {
  color: white;
  text-decoration: none; 
  background-color:#FC4A1A; 
  border: none;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  }

  a, a:hover {
    text-decoration: none; 
    color: white; 
  }

  label {
    font-family: 'Roboto Condensed', sans-serif; 
  }
 
  a, button { 
    font-weight: bold; 
  }

